<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/searchPage/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/searchPage/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/searchPage/assets/css/user.css">

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/user.css">
          <% include ../partials/stylesheetLinks %>
          <link href="/prof/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
          <link href="/prof/css/style.css" rel="stylesheet" type="text/css" media="all" />
          <link href="/prof/css/font-awesome.css" rel="stylesheet">
          <link href="/prof/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
</head>
<body>
  <% include ../partials/Inheader %>


    <h1 style=" margin-left: 5cm;">Your Shopping Cart</h1>
    <script>
    var tot=0;
    </script>

        <% crtdetail.forEach( function( crtdetail ) { %>
          <div class="container">

              <div class="row product">

                  <div class="col-md-5 col-md-offset-0"><a href="#" title= '<%= crtdetail.PName %>' class="thumbnail">  <img src ='/images/uploads/<%= crtdetail.ProductImage %>'  width= "200px" height= "300px" >  </a></div>
                  <div class="col-md-7">
                      <h2><a href='/proDetails?id=<%=crtdetail.PID%>' title=""><%= crtdetail.PName %> </a></h2>
                      <h3>Rs <%= crtdetail.MPrice %> </h3>

                      <h3>Quantity : <%= crtdetail.Quantity %> </h3>
                        <h3>Size : <%= crtdetail.CSize %> </h3>
                          <h3>Colour : <%= crtdetail.CColour %> </h3>
                      <script>stot = parseInt(<%= crtdetail.MPrice %>)*parseInt(<%= crtdetail.Quantity %>)</script>
                      <h4>Sub Total : Rs <script>document.writeln(stot);</script></h4>

                      <script>
                      tot = tot + stot;
                      </script>
                            <button class="btn btn-primary" type="submit" onclick="window.location.href='/CRemove?cartid=<%=crtdetail.CartId%>'"> Remove</button>
                            <button class="btn btn-primary" type="submit" onclick="window.location.href='/checkOut?id=<%=crtdetail.CartId%>'"> Buy it Now</button>
              </div>
          </div>

   <% }) %>
   <div class="container">

       <div class="row product">

           <div class="col-md-5 col-md-offset-0">  </div>
           <div class="col-md-7">

               <h3>Total Rs: <script>  document.writeln(tot); </script> </h3>

               <form action="/checkAllShipping" method="post">
                 <input onclick="check()" class="btn btn-primary" id="checkOut" type="submit" value="Proceed to checkout"  style="height: 3em; margin: 2px; width: 14em" />
             </form>


       </div>


   </div>

   <script>
   function check() {
     if(tot==0){

       location.assign("/cart");
        window.alert("Please Select Items to cart before checkout..");
}
   }
   </script>

 <footer class="site-footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <h5>Retail Management© </h5></div>
                <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>



</body>
</html>
