
<!DOCTYPE html>
<html>

<% include ../partials/stylesheetLinks %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


  <% include ../partials/header %>

  <% include ../partials/nav %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Track your inventory.</small>
      </h1>
      <ol class="breadcrumb">
        <form  action="/Adminsignup" method="get" >
        <input class="btn btn-primary" type="submit" value="Add an Admin"  style="height: 3em; margin: 2px; width: 8em" />
          <button type="submit" method="get" formaction="/removeAdmin"  id="remove" class="btn btn-danger" style="height: 3em; margin: 2px; width: 10em">Remove an Admin</button>
      </form>
      </ol>

    </section>

    <form action="/Adminsearch" method="post">

  <input type="text" class="search" name="searcht" placeholder="Search products by Name"  style="height:30px; width:350px;margin-left: 340px;" />

    <input class="inputbtn" type="submit" value="Search" style="height:30px; width:100px;" />
</form>


    <!-- Main content -->
    <section class="content">
        <div style="width:400px" class="box box-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div style="height: 40px" class="bg-red">
            <h4 style="padding-left: 10px; padding-top: 10px;"><i style="padding-right: 10px;" class="fa fa-fw fa-exclamation-circle"></i>Reorder List</h4>
          </div>
          <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
            <% result.forEach(function(result){ %>
              <% if (result.StockAmnt < result.reorderLevel) { %>
                <li><a><%= result.PName %> - <%= result.Size %></a></li>
              <% i++; } %>
            <% })%>
            <% if(i == 0) { %>
              <li><a>No items to reorder.</a></li>
              <% } %>

            </ul>
          </div>
        </div>

        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Inventory</h3>
          </div>
          <div class="box-body">
                <table class="table table-bordered">
                  <tr>
                    <th>Product ID</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Discount</th>
                    <th>Size</th>
                    <th>Colour</th>
                    <th>Price of an Unit</th>
                    <th>Current Quantity</th>
                    <th style="width: 200px;">Reorder Progress</th>
                  </tr>
                  <% var i = 0; %>
                <% result.forEach(function(result){ %>
                    <tr>
                      <td><%= result.PID %></td>
                      <td><%= result.PName %></td>
                      <td><%= result.category %></td>
                      <td><%= result.discount %>%</td>
                      <td><%= result.Size %></td>
                      <td><%= result.Colour %></td>
                      <td><%= result.MPrice %></td>
                      <td class="quantity"><%= result.StockAmnt %></td>
                      <td>
                        <div class="progress progress-xs">
                          <% if (result.StockAmnt < result.reorderLevel) { %>
                              <div class="progress-bar progress-bar-danger" style="width: 30%"></div>
                          <% } else if (result.reorderLevel < result.StockAmnt && result.StockAmnt < (result.reorderLevel + 10)) { %>
                              <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
                          <% } else { %>
                              <div class="progress-bar progress-bar-success" style="width: 80%"></div>
                          <% } %>
                        </div>
                      </td>

                    </tr>
                  <% i++; }); %>
                  <%if(i == 0) { %>
                      <tr>
                        <td colspan="5"> No items in your inventory. </td>
                      </tr>
                  <% } %>
                </table>
            </div>

          </div>
          <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>

</div>
<!-- ./wrapper -->

<% include ../partials/scripts %>

<script>

var socket = io.connect('https://retailcodebreakers.herokuapp.com');
socket.on('shipped', function(data){
     alert( data.message);
});

</script>

</body>
</html>
