
<!DOCTYPE html>
<html>

<% include ../partials/stylesheetLinks %>

 <link rel="stylesheet" type="text/css" href="dataTables/dataTables.min.css">
<style>
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
#myDiv {
  display: none;
}
</style>

<body onload="myFunction()" class="hold-transition skin-blue sidebar-mini">
<div id="loader"></div>
<div class="wrapper" id="myDiv">


  <% include ../partials/header %>

  <% include ../partials/nav %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Inventory Request History
        <small>Track the inventory requested History.</small>
      </h1>
      <ol class="breadcrumb">
      </ol>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div style="height: 40px" class="bg-red">
            <h4 style="padding-left: 1px; padding-top: 10px;"><i style="padding-right: 10px;" class="fa fa-fw fa-exclamation-circle"></i>Items Pending for Receiving</h4>
          </div>

          <div class="box-body">

                  <table class="table table-bordered">
                <tr>
                  <th>Product Name</th>
                  <th>Vendor Name</th>
                  <th>Product Size</th>
                  <th>Colour</th>
                  <th>Quantity</th>
                  <th>Brand</th>
                  <th>Admin ID</th>
                  <th>Button</th>
                </tr>

                  <% var i = 0; %>
            <% result.forEach(function(result){ %>
              <% if (result.status == "Not Recieved") {
                   %>
                    <tr>
                      <td><%= result.proName %></td>
                      <td><%= result.vName %></td>
                      <td><%= result.proSize %></td>
                      <td><%= result.proColour %></td>
                      <td><%= result.proQuantity %></td>
                      <td><%= result.proBrand %></td>
                      <td><%= result.adminID %></td>
                        <form action="/invReqHistory?ReqID=<%=result.reqID%>" method="post">
                            <td><input class="btn btn-primary" type="submit"   value="Recieved" /></td>
                        </form>

                    </tr>

              <% i++; } %>
            <% })%>
            <% if(i == 0) { %>
                <tr>
            <td colspan="5">No items are Requested.</td>
            </tr>
              <% } %>
            </table>

          </div>
        </div>



        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Stock requested History</h3>
          </div>
          <div class="box-body">
                <table id="reqHist">
                    <thead>
                  <tr>
                    <th>Product Name</th>
                    <th>Vendor Name</th>
                    <th>Product Size</th>
                    <th>Colour</th>
                    <th>Quantity</th>
                    <th>Brand</th>
                    <th>Admin ID</th>
                    <th>Recieved Date/Time</th>
                  </tr>
                </thead>
                  <tbody>
                  <% var i = 0; %>
                <% result.forEach(function(result){
                  if (result.status == "Recieved"){
                 %>
                    <tr>
                      <td><%= result.proName %></td>
                      <td><%= result.vName %></td>
                      <td><%= result.proSize %></td>
                      <td><%= result.proColour %></td>
                      <td><%= result.proQuantity %></td>
                      <td><%= result.proBrand %></td>
                      <td><%= result.adminID %></td>
                      <td><%= result.recievedDate %></td>
                    </tr>

                  <% i++; }}); %>

                  <%if(i == 0) { %>
                    </tbody>
                      <tr>
                        <td colspan="5"> No items in history. </td>
                      </tr>
                  <% } %>
                </table>

            </div>
          </div>
          <!-- /.box -->
                  <script type="text/javascript" charset="utf8" src="dataTables/jquery-1.8.2.min.js"></script>
                    <script type="text/javascript" charset="utf8" src="dataTables/dataTables.min.js"></script>
                    <script>
                    $(function(){
                      $("#reqHist").dataTable();
                    })
                    </script>
    </section>
    <!-- /.content -->


  </div>

</div>
<!-- ./wrapper -->

<script>
var myVar;

function myFunction() {
    myVar = setTimeout(showPage, 500);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>

<% include ../partials/scripts1 %>



</body>
</html>
