<!DOCTYPE html>
<html>

<% include ../partials/stylesheetLinks %>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <% include ../partials/header %>
  <% include ../partials/nav %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Update Product Stocks
        <small>Update the stock amount.</small>
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">

        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Update an Item</h3>
            </div>
          <div>
              <% var pID;
            if(pid==0){
        			pID = result2[0].PID;
        		}
        		else{
        			pID = pid;
        		}%>
          <form action="/updateStock?pid=<%=pID%>" method="post">
              <div class="box-body">

  <div class="form-group">
    <label for="selectItem">Select Product</label>
    <select onchange="updateSecondSelection();" class="form-control" required="required" id="item" name="item">
    <% result2.forEach(function(result2) {
      if(pid==result2.PID){%>
      <option selected="selected" value= <%=result2.PID %>><%= result2.PID %> - <%= result2.PName %></option>
      <%}%>
        <%if(pid!=result2.PID){%>
          <option value= <%=result2.PID %>><%= result2.PID %> - <%= result2.PName %></option>
    <% }}); %>
  </select>
    </div>

    <div class="form-group">
      <label  for="units">Select Size</label>
      <select class="form-control" required="required" id="size" name="size">
      <% result3.forEach(function(result3) { %>
        <option selected="selected"><%= result3.Size %></option>
      <% }); %>
    </select>
    </div>


              <div class="form-group">
                <label for="orderQuantity">Add Quantity</label>
                <input type="number" class="form-control" id="orderLevel" placeholder="Enter quantity" required="required" name="orderLevel">
              </div>

              </div>
              <!-- /.box-body -->

              <div class="form-group">


                    <div class="col-sm-8">
                        <!-- the avatar markup -->
                            <div id="kv-avatar-errors-1" class="center-block" style="display:none;"></div>
                        <div class="kv-avatar center-block">

                        </div>

                    </div>
            </div> <!-- /form-group-->

              <div class="box-footer">
                <input type="submit" value="Add" class="btn btn-primary"/>

                <button type="submit" formaction="/removeItem?pid=<%=pID%>"  id="Remove" class="btn btn-danger">Remove Product</button>
              </div>
            </form>
          </div>
          </div>
        </div>


      </div>
    </section>
    <!-- /.content -->
  </div>

</div>
<!-- ./wrapper -->
<script>
    function updateSecondSelection(){
    var product= document.getElementById('item');
    var select = product.value;
    location.assign("/updateItem2?PID="+select+"");
    }
</script>

<% include ../partials/scripts %>



</body>
</html>
