
<!DOCTYPE html>
<html>

<% include ../partials/stylesheetLinks %>


<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">


  <% include ../partials/header %>

  <% include ../partials/nav %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Vendor Details
        <small>Track the Vendor Details.</small>
      </h1>
      <ol class="breadcrumb">
        <form  action="/addVendor" method="get" >
        <input class="btn btn-primary" type="submit" value="Add a Vendor"  style="height: 3em; margin: 2px; width: 8em" />
      </form>
      </ol>

    </section>

    <!-- Main content -->
    <section class="content">
        <div style="width:850px" class="box box-widget widget-user-2">
          <!-- Add the bg color to the header using any of the bg-* classes -->
        

            <div class="box-body">
              <table  class="table table-bordered">
                <tr>
                  <th>Vendor ID</th>
                  <th>Vendor Name</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Company Name</th>
                  <th>Edit</th>
                    <th>Remove</th>

                </tr>

                  <% var i = 0; %>
            <% result2.forEach(function(result2){ %>
                    <tr>
                      <td><%= result2.VID %></td>
                      <td><%= result2.Name %></td>
                        <td><%= result2.Address %></td>
                      <td><%= result2.Email %></td>
                      <td><%= result2.Company %></td>
                        <form action="/editVendor?vendor=<%=result2.VID%>" method="post">
  <td><input class="btn btn-primary" type="submit"  id="edit" value="Edit" /></td>
                        </form>
                        <form action="/removeVendor?vendor=<%=result2.VID%>" method="post">
  <td><input class="btn btn-primary" type="submit"  id="remove" value="Remove" /></td>
                        </form>

                    </tr>
              <% i++; %>
            <% })%>
            <% if(i == 0) { %>
                <tr>
            <td colspan="5">No Vendors in the database.</td>
            </tr>
              <% } %>
            </table>

          </div>
        </div>
          <!-- /.box -->
    </section>
    <!-- /.content -->


  </div>

</div>
<!-- ./wrapper -->

<% include ../partials/scripts %>


</body>
</html>
